[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webdriver-manager = "*"
weasyprint = "*"
jinja2 = "*"
googletrans = "*"
deep-translator = "*"
selenium = "*"
toml = "*"
pysubs2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
